Source: node-grunt-webpack
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Section: javascript
Priority: optional
Build-Depends:
 debhelper-compat (= 13)
 , dh-sequence-nodejs
 , jest <!nocheck>
 , grunt <!nocheck>
 , node-babel-loader <!nocheck>
 , node-deep-for-each <!nocheck>
 , node-fast-glob <!nocheck>
 , node-fs-extra <!nocheck>
 , webpack <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-grunt-webpack
Vcs-Git: https://salsa.debian.org/js-team/node-grunt-webpack.git
Homepage: https://github.com/webpack-contrib/grunt-webpack
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-grunt-webpack
Architecture: all
Depends:
 ${misc:Depends}
 , node-deep-for-each
 , node-lodash
Recommends: webpack
Description: Use webpack with grunt
 grunt is a JavaScript task runner/build system/maintainer tool.
 .
 Webpack takes code targeted at node.js and makes it run in the browser.
 Node.js comes with API of its own that is not available in the browsers.
 Webpack exposes this code to programs that are unaware they are running in a
 browser.
 .
 Node.js is an event-based server-side JavaScript engine.
